img{
    max-width: 100%;
    height: auto;
}

.accueil{
    background-image: url("../../img/sao.jpg");
}

.tour-sao{
    background-image: url("../../img/tour-sao.png");
}

.numero {
    margin-top: -17%;
    position: absolute;
}

